<!DOCTYPE html>
<html lang ='en'>
<head>
    <meta charset='UTF-8'>
    <title>Chatting</title>
</head>
<body>
    <h1>Welcome to chat room {{ room }}</h1>

    <div id="messages"></div>
    <div id ="typing"></div>

    <form id="message_input_form">
        <input type="text" id = "message_input" placeholder="Enter Your Message Here">
        <button type="submit">Send</button>
    </form>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script>
    const socket = io.connect("http://127.0.0.1:5000");
    i = 0;  // For Message counting while refreshing
    j = 0;  // For checking if typing as been shown or not
    socket.on('connect', function (){
            socket.emit('join_room',{
                username:"{{ username }}",
                room: "{{ room }}"
        });
    });
    let message_input = document.getElementById('message_input');
    message_input.addEventListener("keyup", function(){
        inputValue = document.getElementById('message_input').value;
        socket.emit('typing_status', inputValue);
    })
    socket.on("typing_on", function(data){
        console.log(j);
        console.log(data.length)
        if(data.length==1 || j == 0){
            const newNode = document.createElement('div');
            newNode.innerHTML = `Typing...`;
            document.getElementById("typing").appendChild(newNode);
            j++;
        }
        if(data.length==0){
            document.getElementById("typing").innerHTML = '';
            console.log("Shit");
            j=0;
        }
    })
    document.getElementById('message_input_form').onsubmit = function (e) {
        e.preventDefault();
        let message = message_input.value.trim();
        if (message.length){
            socket.emit('send_message',{
                username: "{{ username }}",
                room: "{{ room }}",
                message: message
            })
        };
        message_input.value = "";
        message_input.focus();
        inputValue = document.getElementById('message_input').value;
        socket.emit('typing_status', inputValue);
    }

    socket.on('recieve_message', function (data){
        const newNode = document.createElement('div');
        newNode.innerHTML = `<b>${data.username}: &nbsp;</b> ${data.message}`;
        document.getElementById("messages").appendChild(newNode);
    })

    socket.on('rejoin_room', function (data){
        total_message = data.length;
        while(i<total_message){
            const newNode = document.createElement('div');
            newNode.innerHTML = `<b>${data[i][1]}: &nbsp;</b> ${data[i][2]}`;
            document.getElementById("messages").appendChild(newNode);
            i++;
        }
    })

    socket.on('join_room_announcement', function (data){
        const newNode = document.createElement('div');
        newNode.innerHTML = `<b>${data.username}</b> is now online.`;
        document.getElementById("messages").appendChild(newNode);
    })
    socket.on('disconnect', function (){
        const newNode = document.createElement('div');
        newNode.innerHTML = `<b>{{username}}</b> has disconnected.`;
        document.getElementById("messages").appendChild(newNode);
    })
</script>
</html>